*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{
    width:100%;
    min-height:100vh;
    overflow-x:hidden;

    background-image:url("images/ooo.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    animation:animateBg 8s linear infinite;
}

/* Header */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:15px 5%;

    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;

    z-index:1000;
    backdrop-filter:blur(15px);
    background:rgba(255,255,255,.05);
    border-bottom:1px solid rgba(255,255,255,.1);
}
.logo{
    font-size:2.2rem;
    font-weight:700;
    color:#00eaff;
    letter-spacing:1px;
    transition:.4s;
    text-decoration: none;
}

.logo:hover{
    transform:scale(1.08);
    text-shadow:0 0 20px #00eaff;
}

nav{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
} 

nav a{
    color:#fff;
    font-size:1rem;
    padding:12px 20px;
    border-radius:50px;
    transition:.4s;
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.08);
    text-decoration: none;
}

nav a:hover,
nav a.active{
    background:#00eaff;
    color:#000;
    box-shadow:0 0 20px #00eaff;
}
.nav-links{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
}
.nav-links a {
    text-decoration: none;
    color: white;
}


/* ABOUT */


.about{

min-height:calc(100vh - 80px);

display:flex;

align-items:center;

padding:70px 10%;

}



.about-container{


width:100%;

display:flex;

align-items:center;

gap:60px;


background:rgba(255,255,255,0.12);


padding:50px;


border-radius:30px;


backdrop-filter:blur(15px);


box-shadow:

0 20px 50px rgba(0,0,0,0.4);


animation:slide 1s ease;


}



/* IMAGE */


.about-image{

flex:1;

text-align:center;

}



.about-image img{


width:400px;

height:400px;


object-fit:cover;


border-radius:60px;


box-shadow:

0 0 30px rgba(56,189,248,0.6);


transition:.5s;


}



.about-image img:hover{

transform:scale(1.05);
box-shadow:

0 0 30px rgba(164, 248, 254, 0.6);

}



/* TEXT */


.about-content{

flex:1;

color:white;

}



.about-content h1{

font-size:45px;

margin-bottom:25px;

}



.about-content h1 span{

color:#131414;

}



.about-content p{

font-size:16px;

line-height:1.8;

color:#e2e8f0;

margin-bottom:15px;

}




/* DEVELOPER */


.developer{

display:flex;

align-items:center;

gap:20px;

margin-top:35px;

}



.developer img{


width:90px;

height:90px;


border-radius:50%;


object-fit:cover;


border:3px solid #38bdf8;


}



.developer h3{

font-size:15px;

color:#38bdf8;

}



.developer h2{

font-size:24px;

margin:5px 0;

}



.developer p{

margin:0;

}



/* ANIMATION */


@keyframes slide{


from{

opacity:0;

transform:translateY(50px);

}


to{

opacity:1;

transform:translateY(0);

}


}




/* MOBILE */


@media (max-width:900px){

header{
    flex-direction:column;
    gap:15px;
    padding:15px;
}

.logo{
    font-size:1.8rem;
}

nav{
    width:100%;
    justify-content:center;
}

.nav-links{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
}

nav a{
    padding:10px 15px;
    font-size:14px;
}

.about{
    padding:170px 20px 50px;
}

.about-container{
    flex-direction:column;
    text-align:center;
    padding:25px;
    gap:30px;
}

.about-image img{
    width:220px;
    height:220px;
    max-width:100%;
}

.about-content h1{
    font-size:2rem;
}

.about-content p{
    font-size:15px;
}

.developer{
    justify-content:center;
    flex-direction:column;
    text-align:center;
}

.developer img{
    width:80px;
    height:80px;
}

}



html,
body{
    overflow-x:hidden;
}

img{
    max-width:100%;
    height:auto;
}
