/* ===================================
   QUIZZAL GLOBAL VARIABLES
=================================== */


:root{


/* MAIN COLORS */

--primary:#00eaff;

--secondary:#0066ff;

--dark:#050816;

--dark-light:#0b1025;



/* GLASS */

--glass:
rgba(255,255,255,0.08);


--glass-border:
rgba(255,255,255,0.15);





/* TEXT */

--white:#ffffff;

--text:
rgba(255,255,255,0.85);



/* EFFECTS */

--shadow:
0 20px 50px rgba(0,0,0,0.4);


--glow:
0 0 25px rgba(0,234,255,0.5);





/* TRANSITIONS */


--fast:.2s ease;

--normal:.4s ease;

--slow:.8s ease;





/* RADIUS */


--radius-small:10px;

--radius-medium:20px;

--radius-large:30px;



}